{% extends "base.html" %}
  
  {% block TITLE %}
  <title>Home</title>
  
  <link rel="stylesheet" href="{{ url_for('static', filename='css/searchbox.css') }}">
  <script>
    $(document).ready(function(){
        $('#searchbox_ing').keyup(function(){
          req = $.ajax({
            data : { 'search' : $('#searchbox_ing').val() },
            type : 'POST',
            url : '{{ url_for('ingredientsearch') }}'
          });
            
          req.done(function (data){
            $('#cont_ing').html('');
            for (var i=0; i<data['result'].length; i++){
              $('#cont_ing').append('<button type="button" class="btn btn-light">' + data['result'][i] + '</button>' );
            }
          });
        });    
      });
  </script>

<script>
  $(document).ready(function(){
      $('#searchbox_rec').keyup(function(){
        req = $.ajax({
          data : { 'search' : $('#searchbox_rec').val() },
          type : 'POST',
          url : '{{ url_for('recipesearch') }}'
        });
          
        req.done(function (data){
          $('#cont_rec').html('');
          for (var i=0; i<data['result'].length; i++){
            $('#cont_rec').append('<button type="button"  class="btn btn-light">' + data['result'][i] + '</button>' );
          }
        });
      });    
    });
</script>

  {% endblock %}

  {% block content%}
  <br>
  <div class="dropdown">
    <input class="form-control mr-sm-2" type="search" placeholder="Search By ingredients" id="searchbox_ing" aria-label="Search">
    <div class="dropdown-content" id="cont_ing">
      </div>
  </div>
  <br><br>
  <div class="card-columns">
  {% for recipe in recipes %}
  <div class="card">
    <img class="card-img-top" src="static/images/Choor.jpg" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title"><div class="p-3 mb-2 bg-secondary text-white">{{ recipe.name }}</div></h4>
      <p class="card-text">
      	<hr>
      		 <h5>
              Ingredients :
           </h5>
           <p> 
              {% for ing in recipe.ingredients %}
                  {{ ing.name }}, 
              {% endfor %}
          </p>
      </p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{ recipe.procedure }}</li>
    </ul>
    <div class="card-body">
      <a href="{{ url_for('delete', id=recipe.id) }}" class="card-link">Delete</a>
    </div>
  </div>
  <br>
  {% endfor %}
  </div>
  {% endblock %}
