<!DOCTYPE html>

<head>
    <title>Home</title>
</head>

<body>
    <h2></h2><a href="{{ url_for('add') }}">Add New Recipe</a></h2>

    {% for recipe in recipes %}
        <div style="border-style: solid; padding: 20px; margin: 20px;">
            <h1>{{ recipe.name }}</h1>  <br><br>
            <a href="{{ url_for('delete', id=recipe.id) }}">Delete</a>

            <h3>
                Ingredients : 
                {% for ing in recipe.ingredients %}
                    {{ ing.name }}, 
                {% endfor %}
            </h3>
            <br><br>
            <p>
                Procedure : {{ recipe.procedure }}
            </p>
        </div>
    {% endfor %}
</body>

</html>