{% extends "base.html" %}

{% block TITLE %}

<title>Home</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/searchbox.css') }}">

{% endblock %}

{% block content%}
{% include "navbar.html" %}
<br>
<div class="row">
  <div class="col col-md-6 col-sm-12">
    <p class="my-0">Search by:</p>
    <label for="ing">Ingredients</label>
    <input type="radio" id="ing_radio" name="search_type_selection" value="Ingredients" checked="checked">
    <label for="dish">Dish</label>
    <input type="radio" id="dish_radio" name="search_type_selection" value="Dish">
  </div>
 
  <div class="col col-md-6 col-sm-12 text-right">
    <select class="custom-select w-50" id="sort_by" onchange="recipeFilter()">
      <option value="like" selected="selected">Sort by like</option>
      <option value="alpha">Sort in alphabetical order</option>
    </select>
  </div>
</div>

<div class="dropdown">
  <input class="form-control mr-sm-2" id="searchbox_ing" placeholder="Search">
  <div class="dropdown-content" id="cont_ing">

  </div>
</div>

<div id="filterlist" class="row pt-2">

</div>
<div id="recipe_list" class="card-deck">

</div>
{% endblock %}