{% extends "base.html" %}
  
  {% block TITLE %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" ></script>
  <title>Home</title>
  <script>
    $(document).ready(function(){
      $('#searchbox_rec').keyup(function(){
        req = $.ajax({
          data : { dish : $('#searchbox_rec').val() },
          type : 'POST', 
          url : '/dish' 
        }); 

        req.done(function (data){
          $('#cont_rec').html('');
          for (var i=0; i<data['result'].length; i++){
            $('#cont_rec').append('<button>' + data['result'][i] + '</button>' );
          }
        });
      });    
    });
  </script>
  
  <link rel="stylesheet" href="{{ url_for('static', filename='css/searchbox.css') }}">
  <script>
    var ingredients_list = [];

    function recipeFilter(){
        req = $.ajax({
            data : { 'ing_list' : ingredients_list },
            type : 'POST',
            url : '{{ url_for('filteredrecipe') }}'
        });

        req.done(function (data){
            
        });
    }

    $(document).ready(function(){
        $('#searchbox_ing').keyup(function(){
          req = $.ajax({
            data : { 'search' : $('#searchbox_ing').val() },
            type : 'POST',
            url : '{{ url_for('ingredientsearch') }}'
          });
            
          req.done(function (data){
            $('#cont_ing').html('');
            for (var i=0; i<data['result'].length; i++){
              var btn = document.createElement("BUTTON");
              btn.innerHTML = data['result'][i];
              btn.addEventListener('click', function() {
                  if(!ingredients_list.includes(this.innerHTML)){
                    ingredients_list.push(this.innerHTML);
                    console.log(ingredients_list);

                    recipeFilter();
                  }
              });

              document.getElementById('cont_ing').appendChild(btn);
            }
          });
        });    
      });
  </script>

  {% endblock %}

  {% block content%}
  <br>

  <div class="dropdown">
    <input class="dropbtn" id="searchbox_ing" placeholder="Search">
    <div class="dropdown-content" id="cont_ing">
        
    </div>
  </div>

  <br><br>
  <div class="card-columns">
  {% for recipe in recipes %}
  <div class="card">
    <img class="card-img-top" src="static/images/Choor.jpg" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title"><div class="p-3 mb-2 bg-secondary text-white">{{ recipe.name }}</div></h4>
      <p class="card-text">
      	<hr>
      		 <h5>
              Ingredients :
           </h5>
           <p> 
              {% for ing in recipe.ingredients %}
                  {{ ing.name }}, 
              {% endfor %}
          </p>
      </p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{ recipe.procedure }}</li>
    </ul>
    <div class="card-body">
      <a href="{{ url_for('delete', id=recipe.id) }}" class="card-link">Delete</a>
    </div>
  </div>
  <br>
  {% endfor %}
  </div>
  {% endblock %}
