{% extends "base.html" %}
  
  {% block TITLE %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" ></script>
  <title>Home</title>
  <script>
    $(document).ready(function(){
      $('#searchbox_rec').keyup(function(){
        req = $.ajax({
          data : { dish : $('#searchbox_rec').val() },
          type : 'POST', 
          url : '/dish' 
        }); 

        req.done(function (data){
          $('#cont_rec').html('');
          for (var i=0; i<data['result'].length; i++){
            $('#cont_rec').append('<button>' + data['result'][i] + '</button>' );
          }
        });
      });    
    });
  </script>
  
  <link rel="stylesheet" href="{{ url_for('static', filename='css/searchbox.css') }}">
  <script>
    var ingredients_list = [];

    function likeRecipe(ele){
      req = $.ajax({
            data : { 'id' :  ele.name },
            type : 'POST',
            url : '{{ url_for('like') }}'
          });
            
          req.done(function (data){
            if (ele.style.backgroundColor != 'white'){
              ele.style.backgroundColor = 'white';
              ele.innerHTML = 'Like ' + data['like'];
            }
            else{
              ele.style.backgroundColor = '#0099cc';
              ele.innerHTML = 'Like ' + data['like'];
            }

            if (data['turnotheroff']){
              document.getElementById('dislikeBut'+ele.name).style.backgroundColor = 'white';
              document.getElementById('dislikeBut'+ele.name).innerHTML = 'Dislike '+data['dislike'];
            }
          });
    }

    function dislikeRecipe(ele){
      req = $.ajax({
            data : { 'id' :  ele.name },
            type : 'POST',
            url : '{{ url_for('dislike') }}'
          });
            
          req.done(function (data){
            if (ele.style.backgroundColor != 'white'){
              ele.style.backgroundColor = 'white';
              ele.innerHTML = 'Dislike ' + data['dislike'];
            }
            else{
              ele.style.backgroundColor = 'red';
              ele.innerHTML = 'Dislike ' + data['dislike'];
            }

            if (data['turnotheroff']){
              document.getElementById('likeBut'+ele.name).style.backgroundColor = 'white';
              document.getElementById('likeBut'+ele.name).innerHTML = 'Like '+data['like'];
            }
          });
    }

    function addToFavorites(ele){

    }

    function recipeFilter(){
        $('#filterlist').html('');
        for(var j=0; j<ingredients_list.length; j++){
            $('#filterlist').append('<span class="badge-lg badge-pill badge-secondary">' + ingredients_list[j] + '   <button name="' + ingredients_list[j] + '" onclick="removeIngredient(this) " class="close ml-3 text-white"><span aria-hidden="true">&times;</span></button></span>');
        }

        requ = $.post( "{{ url_for('filteredrecipe') }}", { 'info[]': ingredients_list } );

        requ.done(function (data){
            console.log(data.result);
            $('#recipe_list').html(data.result);
        });
    }

    function removeIngredient(ele){
      var ind = ingredients_list.indexOf(ele.name);
      ingredients_list.splice(ind,1);
      recipeFilter();
    }

    function deleteRecipe(ele, url_with_id){
      requ = $.post( url_with_id );

      requ.done(function (data){
            ((ele.parentElement).parentElement).style.display = "none";
      });
    }

    $(document).ready(function(){
        $('#searchbox_ing').keyup(function(){
          req = $.ajax({
            data : { 'search' : $('#searchbox_ing').val() },
            type : 'POST',
            url : '{{ url_for('ingredientsearch') }}'
          });
            
          req.done(function (data){
            $('#cont_ing').html('');
            for (var i=0; i<data['result'].length; i++){
              var btn = document.createElement("BUTTON");
              btn.innerHTML = data['result'][i];
              
              btn.addEventListener('click', function() {
                  if(!ingredients_list.includes(this.innerHTML)){
                    ingredients_list.push(this.innerHTML);
                    console.log(ingredients_list);

                    $('#filterlist').html('');
                    for(var j=0; j<ingredients_list.length; j++){
                      $('#filterlist').append('<span class="card bg-primary"><div class="card-body text-center">' + ingredients_list[j] + ' <a name="' + ingredients_list[j] + '" onclick="removeIngredient(this)">X</a></div></span>');
                    }
                    recipeFilter();
                  }
              });

              document.getElementById('cont_ing').appendChild(btn);
            }
          });
        });    
      });
  </script>

  {% endblock %}

  {% block content%}
  {% include "navbar.html" %}
  <br>

  <div class="dropdown">
    <input class="dropbtn" id="searchbox_ing" placeholder="Search">
    <div class="dropdown-content" id="cont_ing">
        
    </div>
  </div>

  <div id="filterlist" class="row pt-2">

  </div>

  <br><br>
  <div id="recipe_list" class="card-columns">
  
  </div>
  {% endblock %}
