{% extends "base.html" %}
  
  {% block TITLE %}
  <title>Home</title>
  
  <link rel="stylesheet" href="{{ url_for('static', filename='css/searchbox.css') }}">

  {% endblock %}

  {% block content%}
  {% include "navbar.html" %}
  <br>

  <div class="dropdown">
    <input class="dropbtn" id="searchbox_ing" placeholder="Search">
    <div class="dropdown-content" id="cont_ing">
        
    </div>
  </div>

  <div id="filterlist" class="row pt-2">

  </div>

  <br><br>
  <div id="recipe_list" class="card-columns">
  
  </div>
  {% endblock %}
