{% for recipe in recipes %}
<div class="col-sm-4">
<div class="card bg-light mx-0 my-2 shadow">
  <img class="card-img-top p-2" src="{{ url_for('static', filename='images/recipe_pics/' + recipe['recipe'].image_file) }}" alt="Card image cap">
  
    <h4 class="card-title px-2"><div class="p-2 bg-white">{{ recipe['recipe'].name }}</div></h4>
    <div class="px-2 pb-3"><button type="button" class="btn btn-info btn-block" data-toggle="modal" data-target="#exampleModal{{ recipe['recipe'].id }}"><h5>View</h5></button></div>
    <!-- <a href="{{ url_for('delete', id=recipe.id) }}" class="card-link">Delete</a> -->
  <div class="modal fade" id="exampleModal{{ recipe['recipe'].id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{ recipe['recipe'].name }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
         <div class="row">
           <div class="col-4"> 
          <img class="card-img-top" src="{{ url_for('static', filename='images/recipe_pics/' + recipe['recipe'].image_file) }}" alt="Card image cap">
            </div>
          <div class="col-8">
         <h5>
            Ingredients :
         </h5>
         <p> <ol>
            {% for ing in recipe['recipe'].ingredients %}
             
            <li>  {{ ing.name }}</li>
            
            {% endfor %}
            </ol>
        </p>
          </div>
          </div>
        <hr>
        <ul class="list-group list-group-flush">
          <li >{{ recipe['recipe'].procedure }}</li>
        </ul>
        </div>
        <div class="modal-footer">
          Added By : <a href="{{ url_for('otherAccount', username=recipe['recipe'].author.username) }}" class="btn btn-link">{{ recipe['recipe'].author.username}}</a>
          {% if recipe['liked'] %}
        <button class="btn" style="background-color: #0099cc;" id="likeBut{{ recipe['recipe'].id }}" name="{{ recipe['recipe'].id }}" onclick="likeRecipe(this)"><i class="fa fa-thumbs-up" aria-hidden="true"></i> {{ recipe['recipe'].users_liked|length }}</button>
          {% else %}
            <button class="btn" style="background-color: white;" id="likeBut{{ recipe['recipe'].id }}" name="{{ recipe['recipe'].id }}" onclick="likeRecipe(this)"><i class="fa fa-thumbs-up" aria-hidden="true"></i> {{ recipe['recipe'].users_liked|length }}</button>
          {% endif %}

          {% if recipe['disliked'] %}
            <button class="btn" style="background-color: red;" id="dislikeBut{{ recipe['recipe'].id }}" name="{{ recipe['recipe'].id }}" onclick="dislikeRecipe(this)"><i class="fa fa-thumbs-down" aria-hidden="true"></i> {{ recipe['recipe'].users_disliked|length }}</button>
          {% else %}
            <button class="btn" style="background-color: white;" id="dislikeBut{{ recipe['recipe'].id }}" name="{{ recipe['recipe'].id }}" onclick="dislikeRecipe(this)"><i class="fa fa-thumbs-down" aria-hidden="true"></i> {{ recipe['recipe'].users_disliked|length }}</button>
          {% endif %}
    
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
  {% endfor %}