{% extends "base.html" %}

{% block TITLE %}
<title>Sign Up</title>
{% endblock %}

{% block content %}

  <div class="shadow-lg container-fluid m-0 p-5">
    <div class="row">
      <div class="col">
        <div class="text-center mb-5">
          <img style="max-width: 350px;" class="img-fluid" src="{{ url_for('static', filename='images/Logo.png') }}">
        </div>
        <form method="POST">
          {{ form.hidden_tag() }}
          <div class="form-group">
            <label for="exampleInputUsername1">Username</label>
            {{ form.username(placeholder="Username", class="form-control border-top-0 border-left-0 border-right-0", id="exampleInputUsername1") }}
            {% if form.username.errors %}
            {% for error in form.username.errors %}
            <small id="emailHelp" class="form-text text-danger">{{ error }}</small>
            {% endfor %}
            {% endif %}
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            {{ form.email(placeholder="Email", class="form-control border-top-0 border-left-0 border-right-0", id="exampleInputEmail1") }}
            {% if form.email.errors %}
            {% for error in form.email.errors %}
            <small id="emailHelp" class="form-text text-danger">{{ error }}</small>
            {% endfor %}
            {% endif %}
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            {{ form.password(placeholder="password", class="form-control border-top-0 border-left-0 border-right-0", id="exampleInputPassword1") }}
            {% if form.password.errors %}
            {% for error in form.password.errors %}
            <small id="emailHelp" class="form-text text-danger">{{ error }}</small>
            {% endfor %}
            {% endif %}
          </div>
          <div class="form-group">
            <label for="exampleInputConfirmPassword1">Confirm password</label>
            {{ form.confirm_password(placeholder="confirm password", class="form-control border-top-0 border-left-0 border-right-0", id="exampleInputPassword1") }}
            {% if form.confirm_password.errors %}
            {% for error in form.confirm_password.errors %}
            <small id="emailHelp" class="form-text text-danger">{{ error }}</small>
            {% endfor %}
            {% endif %}
          </div>
          {{ form.submit(class="btn btn-primary") }}
          <br><br>
          Already have an account ? <a href="{{ url_for('login') }}">Log In</a>
        </form>
      </div>
    </div>
  </div>

{% endblock %}