{% extends "base.html" %};

{% block TITLE %}
    <title> Shopping cart </title>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="https://fonts.googleapis.com/css?family=Hind&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
{% endblock %}

{% block content %}
<br>
<h1 class="text-center">Shopping Cart</h1>
<br>
    <div class="input-group input-group-lg px-5 pb-2">
           <input type="text" class="input form-control" placeholder="Add item" >
           <div class="input-group-append">
           <button class="add btn-primary btn"><i class="fas fa-plus"></i></button>
        </div>
    </div>
    <div class="container">
    </div>
    <script>
     const container = document.querySelector('.container');
var inputValue = document.querySelector('.input');
const add = document.querySelector('.add');

if(window.localStorage.getItem("todos") == undefined){
     var todos = [];
     window.localStorage.setItem("todos", JSON.stringify(todos));
}

var todosEX = window.localStorage.getItem("todos");
var todos = JSON.parse(todosEX);


class item{
	constructor(name){
		this.createItem(name);
	}
    createItem(name){
    	var itemBox = document.createElement('div');
        itemBox.classList.add('pb-1');
        itemBox.classList.add('input-group');
        itemBox.classList.add('px-5');
        
        
    	var input = document.createElement('input');
    	input.type = "text";
    	input.disabled = true;
    	input.value = name;
        input.classList.add('item_input');
        input.classList.add('form-control');
        input.classList.add('bg-light');
        input.classList.add('border-0');

        var prep1 = document.createElement('div');
        prep1.classList.add('input-group-text');
        prep1.classList.add('bg-light');
        prep1.classList.add('border-0');

        var prep2 = document.createElement('div');
        prep2.classList.add('input-group-prepend');
        
        var cb=document.createElement('input');
        cb.type = "checkbox";

        var Append = document.createElement('div');
        Append.classList.add('input-group-append');
        

        
    	var remove = document.createElement('button');
        remove.classList.add('remove');
        remove.classList.add('btn-danger');
        remove.classList.add('btn');
        remove.innerHTML = "<i class=\"fas fa-trash\"></i>";
        remove.addEventListener('click', () => this.remove(itemBox, name));
        
        prep1.appendChild(cb);
        prep2.appendChild(prep1);
        Append.appendChild(remove);
    	container.appendChild(itemBox);
        itemBox.appendChild(prep2);
        itemBox.appendChild(input);
        itemBox.appendChild(Append);
    }

    remove(itemBox, name){
        itemBox.parentNode.removeChild(itemBox);
        let index = todos.indexOf(name);
        todos.splice(index, 1);
        window.localStorage.setItem("todos", JSON.stringify(todos));
    }
}

add.addEventListener('click', check);
window.addEventListener('keydown', (e) => {
	if(e.which == 13){
		check();
	}
})

function check(){
	if(inputValue.value != ""){
		new item(inputValue.value);
        todos.push(inputValue.value);
        window.localStorage.setItem("todos", JSON.stringify(todos));
		inputValue.value = "";
	}
}


for (var v = 0 ; v < todos.length ; v++){
    new item(todos[v]);
}


</script>
{% endblock %}